<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :is_sent %><br />
    <%= f.text_field :is_sent %>
  </div>
  <div class="field">
    <%= f.label :send_method %><br />
    <%= f.text_field :send_method %>
  </div>
  <div class="field">
    <%= f.label :date_sent %><br />
    <%= f.datetime_select :date_sent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
