<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @account.first_name %>
</p>

<p>
  <b>First name2:</b>
  <%= @account.first_name2 %>
</p>

<p>
  <b>Surname:</b>
  <%= @account.surname %>
</p>

<p>
  <b>Address line1:</b>
  <%= @account.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @account.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @account.city %>
</p>

<p>
  <b>State:</b>
  <%= @account.state %>
</p>

<p>
  <b>Postcode:</b>
  <%= @account.postcode %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>

<p>
  <b>Email2:</b>
  <%= @account.email2 %>
</p>

<p>
  <b>Is active:</b>
  <%= @account.is_active %>
</p>

<p>
  <b>Is customer:</b>
  <%= @account.is_customer %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
